<!-- <h1 [ngClass]='{"bg-success":"issuccess","text-white":"!issuccess"}'>heloo</h1> -->
<!-- <h1 [ngClass]='classesArray'>heloo</h1>

<h1 [ngStyle]='{"padding":issuccess ? "60px":"0px", "background":issuccess?"green":"red"}'>ng</h1> -->
<p appMyDirective>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, minima architecto corporis sed voluptas alias placeat totam non quaerat quo nam nemo fuga commodi? Recusandae quaerat iure harum. Doloribus, quo!</p>
<h1 [ngClass]='{"bg-success":"issucces", "text-white":"!issucces"}'>hii</h1>
<h1 [ngClass]="my">jhghn</h1>

